<!DOCTYPE html>
<html lang="en">

<%- include(`./partials/head`,{title:`Proyecto Middlewares`}) %> 
<body>
	<%- include(`./partials/header`)%> 
	<h1><%= texto %> </h1>
	<img src="/images/node.jpg" width="60%">
</body>
</html>