<header>
   <div class="logo">
      <a href="/">
         <img src="/images/javascript-logo.png" alt="">
      </a>
   </div>
   <nav>
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="/register">Register</a></li>
      </ul>
   </nav>
</header>